<!-- <mat-form-field>
	<div>
		<mat-label>ชื่อ-นามสกุล :</mat-label>
		<input matInput type="text" name='name'>
	</div>
		<div>
			<mat-label>เบอร์โทร :</mat-label>
			<input matInput type="number" name='phone'>
	</div>
			<button mat-button (click)="adduser()">ตกลง</button>
</mat-form-field> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

	<label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
	<br>
	<label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
	<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>